<?php

return [
	[
		"username" => "admin",
		// admin123
		"password" => "\$argon2i\$v=19\$m=1024,t=2,p=2\$dU5TQ2cwc1RsM2V4RkhtLg\$33l5MMYqgz8aXwdBV07TqVIFBHhb/yGLPKOeDhnJzFU",
		"path" => "/"
	],
	[
		"username" => "user",
		// user123
		"password" => "\$argon2i\$v=19\$m=1024,t=2,p=2\$eDVzVEg0MmpSVUNWQTBIWA\$4BxMy7raBhRi7OlGCEoXrF9eJkCP1HYgD5b02Gg3mSs",
		"path" => "/home/user"
	],
];

/*

How to generate hashed password?
echo password_hash("your password here", 2);

*/